### Arquivos de build ###
HELP.md
target/
build/
tmp/
*.tmp

### maven ###
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
.mvn/timing.properties

!**/src/main/**/target/
!**/src/test/**/target/

### gradle ###
.gradle
!**/src/main/**/build
!**/src/test/**/build/

### Logs ###
*.log
logs/
srping.log

### Configurações e arquivos sensiveis ###
.env
*.env
*.key
*.perm
*.crt
*.p12

application-*.yml
application-*.yaml
application-*.properties


!application.properties
!application-dev.properties
!application-prod.properties

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### Eclipse / STS ###
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Windows ###
Thumbs.db
Desktop.ini

### Mac OS ###
.DS_Store

### Docker ###
**/db_data/
docker-volume/
